---

---

<section>
	<div class="flex" id="yearsContainer">
		<p>1880</p>
		<p>1900</p>
		<p>1920</p>
		<p>1940</p>
	</div>
	<div class="flex" id="eventsContainer">
		<p>
			Prime Minister John A. MacDonald decided to set aside a small
			reserve of 26 square kilometers around the hot springs at Cave and
			Basin as a public park known as the Banff Hot Springs Reserve
		</p>
		<p>
			under the Rocky Mountain Parks Act, the park was expanded to 674 km2
			(260 sq mi) and named Rocky Mountains Park
		</p>
		<p>by 1911, Banff was accessible by automobile from Calgary.</p>
		<p>in 1916, the Brewsters offered motorcoach tours of Banff.</p>
		<p>
			the Banff-Windermere Road opens in 1923 to connect Banff with
			British Columbia
		</p>
		<p>
			with the passage of the National Parks Act, the area of Banff was
			fixed at 6,697 km2 and renamed to Banff National Park
		</p>
	</div>
	<div class="flex" id="imagesContainer">
		<p>images</p>
	</div>
</section>

<style>
	section {
		font-family: "Inter-Black", Helvetica;
		position: relative;
		display: flex;
		height: 100dvh;
		justify-content: center;
		padding: 0 14rem;
		gap: 8rem;
	}

	p {
		margin: 0;
		font-weight: 500;
		color: #ffffff;
		font-size: 16px;
		line-height: normal;
	}

	.flex {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	#yearsContainer {
		border-right: 1px solid #ffffff;
		padding: 0 1rem;
	}
</style>
