---
import { Image } from 'astro:assets';
import imageBackground from  '../assets/banff1.jpg';
---

<section>
	<Image src={imageBackground} width={3840} height={2160} id='backgroundImage' alt={'placeholder'}/>
	<div>
		<h1>Canada's First National Park</h1>
		<p>
			Rocky Mountain peaks, turquoise glacial lakes, a picture-perfect
			mountain town and village, abundant wildlife and scenic drives come
			together in Banff National Park - Canada's first national park and
			the flagship of the nation's park system.
		</p>
		<p>
			Vibrant lakes, majestic mountains and easy access to outdoor
			adventures of all kinds.
		</p>
	</div>
</section>

<style>
	#backgroundImage {
		position: absolute;
		z-index: -1;
		filter: brightness(70%);
		width: 100%;
		height: auto;
	}

	div {
		width: 25%;
		padding-left: 12rem;
		padding-right: 12rem;
	}

	section {
		position: relative;
		height: 95dvh;
		display: flex;
		align-items: center;
		justify-content: end;
		overflow: hidden;
	}

	h1 {
		font-family: "Inter-Black", Helvetica;
		font-weight: 800;
		color: #ffffff;
		font-size: 20px;
		letter-spacing: 4px;
		line-height: normal;
	}

	p {
		font-family: "Inter-Black", Helvetica;
		font-weight: 500;
		color: #ffffff;
		font-size: 20px;
		letter-spacing: 4px;
		line-height: normal;
	}
</style>
