---

---

<section>
	<span>created by <a target="_blank" href="https://github.com/MalachiV12303">Malachi Valle</a></span>
</section>
<style>
	section {
		width: screen;
		height: 5dvh;
		position: relative;
		padding: 1rem 2rem;
        background-color: black;

		color: #ffffff;
		font-family: "Inter-Black", Helvetica;
		font-weight: 300;
		font-size: 14px;
		letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
	}
    a {
        text-decoration: none;
        color: aqua;
        transition: all 0.5s ease-in;
    }
    a:hover{
        color: #ffffff;
    }
    a:visited{
        color:crimson;
    }
    a:visited:hover{
        color: #ffffff;
    }
</style>
