---

---

<section>
	<h1 class="testFadeIn noselect">
		banff
	</h1>
</section>

<script>
	import { animate } from "motion";
	animate(".testFadeIn", { opacity: 1 }, { duration: 2 });
</script>

<style>
	.testFadeIn {
		opacity: 0;
	}

	video {
		background-color: blueviolet;
	}

	section {
		height: 100dvh;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	h1 {
		font-family: "Inter-Black", Helvetica;
  		font-weight: 900;
  		color: #ffffff;
  		font-size: 64px;
  		letter-spacing: 12px;
  		line-height: normal;
		padding-left: 16px;
		padding-right: 16px;
	}

	.noselect {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	}

	@media screen and (max-width: 368px) {

	}
</style>
