---
import video from "../assets/bannervideo.mp4"
---


<section>
	<h1 class="testFadeIn noselect">BANFF</h1>
	<video src={video} playsinline autoplay muted loop preload="true" width="3840" height="2160" ></video>
</section>

<script>
	import { animate } from "motion";
	animate(".testFadeIn", { opacity: 1 }, { duration: 2 });
</script>

<style>
	.testFadeIn {
		opacity: 0;
	}
	
	section {
		height: 100dvh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
	}

	video {
		background-color: transparent;
		position: absolute;
		top: 0;
		width: 100%;
		height: auto;
	}

	h1 {
		color: #ffffff;
		z-index: 5;
		font-family: "Boldonse", system-ui;
  		font-weight: 400;
  		font-style: normal;

		font-size: 4rem;
	}

	.noselect {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		-khtml-user-select: none; /* Konqueror HTML */
		-moz-user-select: none; /* Old versions of Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
	}

	@media screen and (max-width: 368px) {
	}
</style>
