---

---

<section>
	<div>
		<p>
			Banff National Park is located in the province of Alberta in the
			Canadian Rocky Mountains. It is situated 128 km (80 miles) west of
			Calgary, 401 km (250 miles) southwest of Edmonton and 850 km (500
			mi) northeast of Vancouver.
		</p>
	</div>
	<div class="gap-large">
		<div class="gap-small">
			<h1>Banff National Park</h1>
			<p>
				Home to glacial lakes and stunning mountain peaks, it's no
				wonder Banff National Park is an adventure seekers paradise!
				It's essential to plan ahead before visiting Banff National
				Park.
			</p>
			<a href="https://parks.canada.ca/pn-np/ab/banff/activ/camping" target="_blank"> click for more information </a>
		</div>
		<div class="gap-small">
			<h1>Lake Louise</h1>
			<p>
				Choose from multiple service options to Banff and Lake Louise
				with ABest Transport and Tour Services, Alpine Limousine &
				Tours, Banff Airporter, Banff Sedan, Brewster Express, Discover
				Banff Tours,Mountain Park Transportation and Banff Chauffeur.
				Prices vary and booking is required.
			</p>
			<a href="https://parks.canada.ca/pn-np/ab/banff/visit/parkbus/louise" target="_blank"> click for more information </a>
		</div>
	</div>
</section>

<style>
	section {
		position: relative;
		display: flex;
		height: 95dvh;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		padding-left: 14rem;
		padding-right: 14rem;
		gap: 8rem;
	}

	h1 {
		margin: 0;
		font-family: "Inter-Black", Helvetica;
		font-weight: 800;
		color: #ffffff;
		font-size: 22px;
		letter-spacing: 4px;
		line-height: normal;
		white-space: nowrap;
		text-decoration: underline;
		text-underline-offset: 8px;
	}

	p {
		margin: 0;
		font-family: "Inter-Black", Helvetica;
		font-weight: 500;
		color: #ffffff;
		font-size: 16px;
		letter-spacing: 2px;
		line-height: normal;
	}

	a {
		font-family: "Inter-Black", Helvetica;
		letter-spacing: 1px;
		padding: 12px 35px;
		background-color: #656565;
		color: #ffffff;
		width: min-content;
		white-space: nowrap;
		transition: all 0.5s ease-in;
	}

	a:hover {
		background-color: #3f3f3f;
		color: #30e7ff;
	}
	
	div {
		display: flex;
		flex-direction: column;
	}
	
	.gap-small{
		gap: 1rem;
	}

	.gap-large{
		gap: 2rem;
	}
</style>
