<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/banffIcon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Boldonse&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>Banff National Park</title>
	</head>
	<body id="viewport">
		<slot />
	</body>
</html>
<style>
	* {
		margin: 0;
		-webkit-font-smoothing: antialiased;
		box-sizing: border-box;
	}

	html {
		height: auto;
	}

	body {
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #151515;
	}
</style>
